* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  margin: 0 auto;
}

#title {
    margin: 10px 10px 15px 130px;
    line-height: 40px;
}

/* 전체 상품 */
.card-container {
  width: 1440px;
  height: 450px;
  margin: 0 auto;

  display: flex;
}

/* 한 개의 상품 */
.listing {
  width: 350px;
  padding: 15px;

  position: relative;
}

.listing img {
  width: 300px;
  height: 290px;
  border-radius: 10px;
}

/* 게스트 선호 */
.prefable {
  width: 90px;
  height: 30px;
  padding: 9px 15px;
  background-color: #fff;

  font-size: 13px;
  font-weight: bold;

  border: none;
  border-radius: 70px;

  position: absolute;
  top: 30px;
  left: 30px;
}

.grey {
  color: grey;
}

/* 전체 설명 */
.details {
  table-layout: fixed;
  width: 280px;
  height: 130px;
}

/* 상품명 */
.tb_title {
  font-size: 22px;
  font-weight: bold;
}

/* 평점 */
.tb_star {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  right: 34px;
}

/* 상품 설명 */
.tb_detail {
  margin-top: 30px;
  font-size: 15px;

  /* 말줄임표 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 가격 */
.tb_price {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}

/* 더 찾아보기, 증가, 감소 버튼 */
.controls {
    display: flex;
    margin-top: 30px;
    padding-left: 130px;
    gap: 10px;
}

button {
    width: 130px;
    padding: 10px 20px;
    
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #fff;

    cursor: pointer;
}

button:hover {
    background-color: #eee;
}